docs/xsd/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://ca.gc.ic/broadcast/entity" xmlns:tns="http://ca.gc.ic/broadcast/entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import schemaLocation="schema2.xsd"/>

  <xs:complexType name="amStationAugment">
    <xs:sequence>
      <xs:element name="amStationAugmentPK" type="amStationAugmentPK" minOccurs="0"/>
      <xs:element name="radiation" type="xs:int"/>
      <xs:element name="centerAz" type="xs:int"/>
      <xs:element name="span" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="amStationExtendedHours">
    <xs:sequence>
      <xs:element name="amStationExtendedHoursPK" type="amStationExtendedHoursPK" minOccurs="0"/>
      <xs:element name="callsBanr" type="xs:string" minOccurs="0"/>
      <xs:element name="number" type="xs:double"/>
      <xs:element name="antSystem" type="xs:string" minOccurs="0"/>
      <xs:element name="start1" type="xs:string" minOccurs="0"/>
      <xs:element name="end1" type="xs:string" minOccurs="0"/>
      <xs:element name="start2" type="xs:double"/>
      <xs:element name="end2" type="xs:double"/>
      <xs:element name="power" type="xs:double"/>
      <xs:element name="rms" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="amStationParameter">
    <xs:sequence>
      <xs:element name="amStationParameterPK" type="amStationParameterPK" minOccurs="0"/>
      <xs:element name="fieldratio" type="xs:double"/>
      <xs:element name="spacing" type="xs:double"/>
      <xs:element name="orienta" type="xs:double"/>
      <xs:element name="phasing" type="xs:double"/>
      <xs:element name="height" type="xs:double"/>
      <xs:element name="typeAnt" type="xs:int"/>
      <xs:element name="a" type="xs:double"/>
      <xs:element name="b" type="xs:double"/>
      <xs:element name="c" type="xs:double"/>
      <xs:element name="d" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="antenna">
    <xs:sequence>
      <xs:element name="pattKey" type="xs:int"/>
      <xs:element name="polarization" type="xs:string"/>
      <xs:element name="pattNumb" type="xs:double" minOccurs="0"/>
      <xs:element name="pattType" type="xs:string"/>
      <xs:element name="punits" type="xs:double" minOccurs="0"/>
      <xs:element name="numpoints" type="xs:double"/>
      <xs:element name="radiationPatternList" type="tns:radiationPattern" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="radiationPattern">
    <xs:sequence>
      <xs:element name="radiationPatternPK" type="radiationPatternPK"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="canadaStation" abstract="true">
    <xs:sequence>
      <xs:element name="canadaStationPK" type="canadaStationPK"/>
      <xs:element name="stationType" type="eCanadaStationType"/>
      <xs:element name="channel" type="xs:int"/>
      <xs:element name="latitude" type="xs:double"/>
      <xs:element name="longitude" type="xs:double"/>
      <xs:element name="bcMode" type="xs:unsignedShort"/>
      <xs:element name="border" type="xs:double"/>
      <xs:element name="brdrLat" type="xs:string" minOccurs="0"/>
      <xs:element name="brdrLong" type="xs:string" minOccurs="0"/>
      <xs:element name="certNumb" type="xs:string" minOccurs="0"/>
      <xs:element name="city" type="xs:string" minOccurs="0"/>
      <xs:element name="stationClass" type="eCanadaStationClass" minOccurs="0"/>
      <xs:element name="decNumber" type="xs:int"/>
      <xs:element name="docFile" type="xs:int"/>
      <xs:element name="frequency" type="xs:double"/>
      <xs:element name="network" type="xs:string" minOccurs="0"/>
      <xs:element name="okDump" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="province" type="xs:string" minOccurs="0"/>
      <xs:element name="ssCode" type="xs:string" minOccurs="0"/>
      <xs:element name="stCreat" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="stMod" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="unattended" type="xs:unsignedShort" minOccurs="0"/>
      <xs:element name="landDistanceCanada" type="xs:double"/>
      <xs:element name="landDistanceFrenchNewfoundland" type="xs:double"/>
      <xs:element name="landDistanceUSA" type="xs:double"/>
      <xs:element name="antennaList" type="tns:antenna" maxOccurs="unbounded"/>
      <xs:element ref="feedSignal" minOccurs="0"/>
      <xs:element ref="tsid" minOccurs="0"/>
      <xs:element ref="comment"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="feedSignal">
    <xs:sequence>
      <xs:element name="feedSignalPK" type="feedSignalPK"/>
      <xs:element name="feedId" type="xs:string" minOccurs="0"/>
      <xs:element name="feedChannel" type="xs:double"/>
      <xs:element name="linkType" type="xs:string" minOccurs="0"/>
      <xs:element name="feedCallSign" type="xs:string" minOccurs="0"/>
      <xs:element name="latitude" type="xs:double" minOccurs="0"/>
      <xs:element name="longitude" type="xs:double" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tsid">
    <xs:sequence>
      <xs:element name="tsidPK" type="tsidPK"/>
      <xs:element name="province" type="xs:string" minOccurs="0"/>
      <xs:element name="city" type="xs:string" minOccurs="0"/>
      <xs:element name="channel" type="xs:int"/>
      <xs:element name="tsid" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="comment">
    <xs:sequence>
      <xs:element name="commentPK" type="commentPK"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="address" type="xs:string" minOccurs="0"/>
      <xs:element name="address2" type="xs:string" minOccurs="0"/>
      <xs:element name="city" type="xs:string" minOccurs="0"/>
      <xs:element name="province" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="canadaStationAm">
    <xs:complexContent>
      <xs:extension base="tns:canadaStation">
        <xs:sequence>
          <xs:element name="euvalu" type="xs:double"/>
          <xs:element name="ifrbnD" type="xs:double"/>
          <xs:element name="ifrbnN" type="xs:double"/>
          <xs:element name="latitude2" type="xs:string" minOccurs="0"/>
          <xs:element name="longitude2" type="xs:string" minOccurs="0"/>
          <xs:element name="parRmsC" type="xs:double"/>
          <xs:element name="parRmsD" type="xs:double"/>
          <xs:element name="parRmsN" type="xs:double"/>
          <xs:element name="powercrit" type="xs:double"/>
          <xs:element name="powerday" type="xs:double"/>
          <xs:element name="powernight" type="xs:double"/>
          <xs:element name="qCrit" type="xs:double"/>
          <xs:element name="qDay" type="xs:double"/>
          <xs:element name="qNight" type="xs:double"/>
          <xs:element name="status1" type="xs:string" minOccurs="0"/>
          <xs:element name="status2" type="xs:string" minOccurs="0"/>
          <xs:element ref="amStationExtendedHours" minOccurs="0"/>
          <xs:element name="amStationParameterList" type="tns:amStationParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="amStationAugmentList" type="tns:amStationAugment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="canadaStationFm">
    <xs:complexContent>
      <xs:extension base="tns:canadaStation">
        <xs:sequence>
          <xs:element name="erpvpk" type="xs:double"/>
          <xs:element name="antMode" type="xs:unsignedShort"/>
          <xs:element name="autoProg" type="xs:string" minOccurs="0"/>
          <xs:element name="beamTilt" type="xs:double" minOccurs="0"/>
          <xs:element name="ehaat" type="xs:double" minOccurs="0"/>
          <xs:element name="erphav" type="xs:double" minOccurs="0"/>
          <xs:element name="erphpk" type="xs:double" minOccurs="0"/>
          <xs:element name="erpvav" type="xs:double" minOccurs="0"/>
          <xs:element name="groundLev" type="xs:double" minOccurs="0"/>
          <xs:element name="overallH" type="xs:double" minOccurs="0"/>
          <xs:element name="radCenter" type="xs:double" minOccurs="0"/>
          <xs:element name="scmo" type="xs:unsignedShort" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="canadaStationSdar">
    <xs:complexContent>
      <xs:extension base="tns:canadaStation">
        <xs:sequence>
          <xs:element name="erpvpk" type="xs:double"/>
          <xs:element name="allocZone" type="xs:int"/>
          <xs:element name="antMode" type="xs:unsignedShort"/>
          <xs:element name="beamTilt" type="xs:double"/>
          <xs:element name="closeCap" type="xs:unsignedShort" minOccurs="0"/>
          <xs:element name="ehaat" type="xs:double"/>
          <xs:element name="erpaav" type="xs:double"/>
          <xs:element name="erpapk" type="xs:double"/>
          <xs:element name="erpata" type="xs:int"/>
          <xs:element name="erpvav" type="xs:double"/>
          <xs:element name="erpvta" type="xs:double"/>
          <xs:element name="groundLev" type="xs:double"/>
          <xs:element name="limitCode" type="xs:string" minOccurs="0"/>
          <xs:element name="offPrec" type="xs:unsignedShort" minOccurs="0"/>
          <xs:element name="offset" type="xs:unsignedShort" minOccurs="0"/>
          <xs:element name="overallH" type="xs:double"/>
          <xs:element name="radCenter" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="canadaStationTv">
    <xs:complexContent>
      <xs:extension base="tns:canadaStation">
        <xs:sequence>
          <xs:element name="allocZone" type="xs:int" minOccurs="0"/>
          <xs:element name="antMode" type="xs:unsignedShort"/>
          <xs:element name="beamTilt" type="xs:double" minOccurs="0"/>
          <xs:element name="closedCaptioning" type="xs:unsignedShort" minOccurs="0"/>
          <xs:element name="haat" type="xs:double" minOccurs="0"/>
          <xs:element name="erpaav" type="xs:double" minOccurs="0"/>
          <xs:element name="erpapk" type="xs:double" minOccurs="0"/>
          <xs:element name="erpata" type="xs:int" minOccurs="0"/>
          <xs:element name="erpvpk" type="xs:double"/>
          <xs:element name="erpvav" type="xs:double" minOccurs="0"/>
          <xs:element name="erpvta" type="xs:double" minOccurs="0"/>
          <xs:element name="towerElevation" type="xs:double" minOccurs="0"/>
          <xs:element name="offSetPrecision" type="xs:unsignedShort" minOccurs="0"/>
          <xs:element name="offSetCode" type="xs:unsignedShort" minOccurs="0"/>
          <xs:element name="overallHag" type="xs:double" minOccurs="0"/>
          <xs:element name="radCenter" type="xs:double" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="contour">
    <xs:sequence>
      <xs:element name="contourPK" type="contourPK" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="latEnd" type="xs:double"/>
      <xs:element name="longEnd" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupDbCode">
    <xs:sequence>
      <xs:element name="lookupDbCodePK" type="lookupDbCodePK" minOccurs="0"/>
      <xs:element name="descriptionEnglish" type="xs:string" minOccurs="0"/>
      <xs:element name="descriptionFrench" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="regionalFiling">
    <xs:sequence>
      <xs:element name="regionalFilingPK" type="regionalFilingPK"/>
      <xs:element name="callsBanr" type="xs:string"/>
      <xs:element name="region" type="xs:string" minOccurs="0"/>
      <xs:element name="district" type="xs:string" minOccurs="0"/>
      <xs:element name="inspecRep" type="xs:string" minOccurs="0"/>
      <xs:element name="painting" type="xs:string" minOccurs="0"/>
      <xs:element name="sprDat" type="xs:double"/>
      <xs:element name="rspDat" type="xs:double"/>
      <xs:element name="stdett" type="xs:double"/>
      <xs:element name="airClear" type="xs:double"/>
      <xs:element name="inspecDat" type="xs:double"/>
      <xs:element name="rcfDat" type="xs:double"/>
      <xs:element name="statType" type="xs:string" minOccurs="0"/>
      <xs:element name="docfex" type="xs:string" minOccurs="0"/>
      <xs:element name="province" type="xs:string" minOccurs="0"/>
      <xs:element name="country" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

